body {
	margin-top: 1px;
}

/* Fonts */

@font-face {
    font-family: "HelveticaNeueLT Std Thin";
    src: url("../fonts/HelveticaNeueLTStdThin.otf")
}

/* Sprite icons */

i[class*="ic-"] {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	background: url("../images/sprite.png") no-repeat;
}

i.ic-user {
	width: 14px;
	height: 14px;
	background-position: 0 0;
}

i.ic-loop {
	width: 15px;
	height: 14px;
	background-position: -14px 0;
}

i.ic-cart {
	width: 27px;
	height: 20px;
	background-position: -29px 0;
}

/* Header top-line */

.h-top-line {
	padding-left: 115px;
	padding-right: 115px;
	font-size: 11px;
	font-family: Arial, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #000000;
}

span.phone {
	display: block;
	padding: 7px 0;
}

.account {
	float: right;
}

.account a {
	padding: 0 15px;
	text-decoration: none;
	color: #ffffff;
}

.lang-list {
	float: left;
	height: 30px;
	padding-top: 7px;
	border-left: 1px solid #444444;
	border-right: 1px solid #444444;
}

.user {
	float: left;
	height: 30px;
	padding-top: 7px;
	border-right: 1px solid #444444;
}

.search {
	float: left;
	height: 30px;
	padding-top: 7px;
	border-right: 1px solid #444444;
}

.account .lang-list .navbar-collapse > ul {
	padding: 0;
	margin: 0;
}

.account .lang-list .navbar-collapse > ul > a {
	padding: 0;
	margin: 0;
}

/* Header top-line @media */

/* @media 640px to 991px */
@media screen and (min-width: 640px) and (max-width: 991px) {
	.h-top-line {
		padding-left: 15px;
		padding-right: 15px;
	}

	.h-top-line .collapse {
		display: block;
	}
}

/* @media 560px to 639px */
@media screen and (max-width: 639px) {
	.h-top-line i[class*="ic-"] {
		background: url("../images/b-sprite.png") no-repeat;
	}

	.h-top-line i.ic-user {
		width: 39px;
		height: 45px;
		background-position: 0 0;
	}

	.h-top-line i.ic-loop {
		width: 39px;
		height: 39px;
		background-position: -39px 0;
	}

	.h-top-line {
		padding-left: 0px;
		padding-right: 0px;
		font-size: 30px;
		text-align: center;
	}

	.h-top-line .col-xs-6 {
    	width: 100%;
	}

	.h-top-line .collapse {
		display: block;
	}

	.h-top-line .navbar-collapse {
		box-shadow: none;
	}

	span.phone {
		padding: 30px 0;
		background-color: #ffffff;
		text-align: center;
		color: #838383;
	}	

	.lang-list {
		width: 25%;
		height: 95px;
		padding-top: 30px;
	}

	.user {
		width: 50%;
		height: 95px;
		padding-top: 30px;
	}

	.search {
		width: 25%;
		height: 95px;
		padding-top: 30px;
	}

	.account {
		float: none;
	}

}

/* @media 320px to 559px */
@media screen and (max-width: 559px) {
	.h-top-line {
		font-size: 16px;
	}

	span.phone {
		padding: 15px 0;
	}	

	.lang-list {
		width: 25%;
		height: 65px;
		padding-top: 20px;
	}

	.user {
		width: 50%;
		height: 65px;
		padding-top: 15px;
		font-size: 16px;
	}

	.search {
		width: 25%;
		height: 65px;
		padding-top: 20px;
	}

	.account a {
		padding: 0;
	}

}

/*-----------------------------------------------------------------------*/

/* Head bottom-line*/

.bottom-line {
	padding-left: 115px;
	padding-right: 115px;
	font-family: Arial, sans-serif;
	background-color: #ffffff;
}

.bottom-line .logo {
	margin: 42px auto;

}

.bottom-line .logo > img {
	width: 120px;
	height: 22px;
}

.bottom-line .nav-menu {
	margin-top: 42px;
	padding-right: 0;
}

.bottom-line .navbar-default .navbar-nav > li > a {
	padding-top: 0;
	padding-bottom: 0;
    color: #000000;
}

.bottom-line .nav-menu .navbar-default .navbar-nav > li:last-child > a {
    padding-right: 0;
}

.bottom-line .nav-menu .navbar {
	float: right;
	margin-bottom: 0;
	font-size: 16px;
	border: 0;
	background-color: #ffffff;
}

.bottom-line .nav-menu .navbar-brand {
	display: none;
}

.bottom-line .cart .table {
	margin-top: 20px;
	margin-bottom: 0;
}

.bottom-line .cart a {
    padding: 0;
    color: #949393;
}

.bottom-line .cart .navbar-nav {
    width: 100%;
}

.bottom-line .cart .navbar-nav > li {
    width: 100%;
}

.bottom-line .cart-info {
	background-color: #fafafa;
}

.bottom-line .cart .caret {
	float: right;
	margin-top: 7px;
}

.bottom-line span.cart-items {
	float: right;
	text-transform: uppercase;
}

/* Head bottom-line @media */

/* @media 991px to 1199px */
@media screen and (min-width: 991px) and (max-width: 1199px) {
	.bottom-line {
		padding-left: 15px;
		padding-right: 15px;
	}

	.bottom-line .table {
		width: 91%;
	}
}

/* @media 768px to 990px */
@media screen and (min-width: 768px) and (max-width: 990px) {
	.bottom-line {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.bottom-line .table {
		width: 91%;
	}

	.bottom-line .col-md-3 {
		padding: 0;
	}


	.bottom-line .nav-menu .navbar {
		float: left;
	}

	.bottom-line .navbar-default .navbar-nav > li > a {
		padding-right: 10px;
	}

}

/* @media to 767 */
@media screen and (max-width: 767px) {
	.bottom-line {
		padding-left: 15px;
		padding-right: 15px;
	}

	.bottom-line .nav-menu {
        margin-top: 0;
        padding-right: 15px;
	}

	.bottom-line .nav-menu .navbar {
        width: 100%;
        background-color: #fd926d;
	}

	.navbar-nav {
 	   margin: 0;
	}

	.nav-menu .navbar-default .navbar-toggle {
    	border: 0;
	}

	.nav-menu .navbar-default .navbar-toggle .icon-bar {
		height: 4px;
		border-radius: 2px;
    	background-color: #ffffff;
	}

	.bottom-line .cart {
		float: right;
	}

	.bottom-line .nav-menu .navbar-brand {
		display: inline-block;
		font-size: 18px;
		font-family: Arial, sans-serif;
		color: #ffffff;
		text-transform: uppercase;
        margin-top: 4px;
	}

}

/* @media to 640 */
@media screen and (max-width: 640px) {
	.bottom-line i[class*="ic-"] {
		background: url("../images/b-sprite.png") no-repeat;
	}

	.bottom-line i.ic-cart {
		background-position: -77px 0;
   		height: 49px;
   		width: 52px;
	}

	.bottom-line .col-xs-4.cart {
		width: 100%;
		margin-bottom: 23px;
	}

	.bottom-line .cart .table {
		height: 95px;
		margin-top: 0px;
		font-size: 30px;
		vertical-align: middle;
	}

	.bottom-line .cart table td {
		vertical-align: middle;
	}

	.bottom-line .cart span.cart-items {
	    padding-right: 10px;
	}


	.bottom-line .col-xs-6.logo {
		width: 100%;
		text-align: center;
	}

	.bottom-line .col-xs-6.logo > img {
		width: 360px;
		height: 90px;
	}

	.bottom-line .cart .your-cart {
		display: none;
	}
}

/* @media to 380 */
@media screen and (max-width: 380px) {
	.bottom-line .col-xs-6.logo > img {
		width: 300px;
		height: 90px;
	}
}

/*-----------------------------------------------------------------------*/

/* Head top-carousel */

.top-carousel {
	margin-top: 10px;
	padding-left: 0;
	padding-right: 0;
}

.top-carousel .radio-row {
    height: 75px;
}

.top-carousel .carousel-indicators {
    margin-bottom: -70px;
}

.top-carousel .carousel-indicators li {
    margin-right: 5px;
    height: 13px;
    width: 13px;
    background-color: #867a76;
}

.top-carousel .carousel-indicators .active {
    margin-right: 5px;
    height: 14px;
    width: 14px;
    background-color: #fd926d;
}

.top-carousel .carousel-control.left {
    background: rgba(0, 0, 0, 0) url("../images/carousel-prev.png") no-repeat scroll left center;
}

.top-carousel .carousel-control.right {
    background: rgba(0, 0, 0, 0) url("../images/carousel-next.png") no-repeat scroll right center;
}

.top-carousel .carousel-inner .layer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65%;
    height: 7px;
    background: url("../images/b-carousel-bottom-line.png") repeat-x bottom;
    opacity: 0.2;
}

.top-carousel .btn {
    position: absolute;
    left: 23%;
    bottom: 20%;
    width: 155px;
    height: 57px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    font-family: "HelveticaNeueLT Std Thin", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    background: #fd926d url("../images/carousel-btn-line.png") repeat-x bottom;
}

.top-carousel .btn > img {
    margin-left: 15px;
    margin-bottom: 3px;
}

/* Head top-carousel @media */

/* @media from 993px to 1200px */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .top-carousel .btn {
        left: 22%;
        bottom: 17%;
    }
}

/* @media from 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .top-carousel .btn {
        left: 20%;
        bottom: 12%;
    }
}

/* @media from 640px to 767px */
@media screen and (min-width: 640px) and (max-width: 767px) {
    .top-carousel .radio-row {
        height: 55px;
    }

    .top-carousel .carousel-indicators {
        margin-bottom: -50px;
    }

    .top-carousel .btn {
        left: 22%;
        bottom: 16%;
        width: 110px;
        height: 40px;
        font-size: 11.84px;
    }

    .top-carousel .btn > img {
        margin-left: 5px;
        margin-bottom: 3px;
    }
}

/* @media to 639px */
@media screen and (max-width: 639px) {
    .top-carousel {
        display: none;
    }
}

/*-----------------------------------------------------------------------*/

/* Social */

.social {
    padding-left: 115px;
    padding-right: 115px;
    background-color: #ededed
}

.social .social-hidden {
    display: none;
}

.social .social-wrap {
    float: right;
}

.social .btn {
    padding: 13px;
    border-radius: 0;
    background-image: url("../images/email-btn.png");
}

.social .input-group .form-control {
    height: 28px;
    width: 130px;
    margin: 14px auto;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    font-family: Arial sans-serif;
    font-style: italic;
    color: #b9b9b9;
}

.social label {
    margin-right: 10px;
    font-size: 12px;
    font-family: Arial sans-serif;
    color: #747474;
}

.social .social-find {
    margin-right: 6px;
    font-size: 12px;
    font-family: Arial sans-serif;
    color: #6b6b6b;
}

/* Social @media */

/* @media from 768px to 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .social {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* @media to 767 */
@media screen and (max-width: 767px) {
    .social {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .social .input-group {
        display: -moz-inline-box;
        margin-top: 15px;
    }

    .social label {
        float: left;
        margin-top: 21px;
    }
}

/* @media to 639 */
@media screen and (max-width: 639px) {
    .social {
        margin-top: 25px;
        background-color: #ffffff;
    }

    .social .social-email {
        display: none;
    }

    .social .social-hidden {
        display: block;
    }

    .social .social-hidden .input-group {
        display: block;
        width: 100%;
        margin-bottom: 25px;
    }

    .social .social-hidden .input-group .input-group-btn {
        display: block;
        width: 16%;
    }

    .social .btn {
        background-image: url("../images/big-email-btn.png");
        width: 100%;
        height: 96px;
    }

    .social .social-hidden .input-group input {
        float: left;
        width: 84%;
        height: 96px;
        margin: 0;
    }

    .social .input-group .form-control {
        background-color: #ededed;
        font-size: 30px;
    }

    .social .social-networks {
        width: 100%;
        text-align: center;
    }

    .social .social-networks .social-wrap {
        float: none;
        display: inline-block;
    }

    .social .social-find {
        font-size: 26px;
        margin-right: 32px;
    }

    .social .social-networks img {
        width: 85px;
        height: 85px;
    }
}

/* @media from 320px to 460 */
@media screen and (max-width: 460px) {
    .social-networks .social-wrap span {
        margin-right: 2px;
    }
    .social-networks .social-wrap img {
        width: 45px;
        height: 45px;
    }

    .social .social-hidden .input-group input {
        float: left;
        height: 50px;
        margin: 0;
    }

    .social .btn {
        background: #ededed url("../images/big-email-btn.png") no-repeat right;
        -webkit-background-size: 50px;
        background-size: 50px;
        width: 100%;
        height: 50px;
    }

    .social .input-group .form-control {
        font-size: 26px;
    }
}

/*-----------------------------------------------------------------------*/

/* Brands */

.brands {
    margin-top: 40px;
    padding-left: 115px;
    padding-right: 115px;
}

.brands .row {
    margin: 0;
    padding: 0;
}

.brands [class*="col-"] {
    margin: 0;
    padding: 0;
}

.brands .right-brand img {
    width: 100%;
}

.brands .l-brand img {
    width: 100%;
}

.brands .rt-brand {
    padding-left: 1px;
    padding-bottom: 1px;
}

.brands .rbl-brand {
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

.brands .rbr-brand {
    padding-top: 1px;
    padding-left: 2px;
}

.brands .l-brand {
    padding-right: 2px;
}

.brands button {
    position: absolute;
    left: 30px;
    bottom: 18px;
}

.brands .btn-default {
    border-radius: 0px;
    border: 0px;
    background-color: #4fafa0;
    font-size: 12px;
    font-family: Helvetica Neue LT Std;
    text-transform: uppercase;
    color: #ffffff;
}

.brands .btn img {
    width: 4px;
    height: 7px;
    margin-left: 8px;
    margin-bottom: 3px;
    vertical-align: middle;
}

/* Brands @media */

/* @media to 1199 */
@media screen and (max-width: 1199px) {
    .brands button {
        left: 9px;
        bottom: 6px;
    }
}

/* @media to 991 */
@media screen and (max-width: 991px) {
    .brands {
        padding-left: 15px;
        padding-right: 15px;
    }

    .brands button {
        width: 70px;
        height: 20px;
        left: 9px;
        bottom: 6px;
    }

    .brands .btn-default {
        font-size: 8px;
    }

}

/* @media to 639 */
@media screen and (max-width: 639px) {
    .brands {
        display: none;
    }
}

/*-----------------------------------------------------------------------*/

/* Body carousel */

.body-carousel {
    margin-top: 50px;
    padding-left: 115px;
    padding-right: 115px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #fd926d;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #555555;
    text-transform: uppercase;
}

.nav-tabs-dropdown {
    display: none;
    width: 100%;
    height: 87px;
    padding-top: 20px;
    border: none;
    border-radius: 0;
    background-color: #f4845d;
    color: #ffffff;
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
}

.nav-tabs-dropdown:before {
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    right: 30px;
}

/* Body carousel @Media */
@media screen and (min-width: 769px) {
    #nav-tabs-wrapper {
        display: block !important;
    }
}

@media screen and (max-width: 640px) {
    .body-carousel {
        margin-top: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav-tabs-dropdown {
        display: block;
    }

    #nav-tabs-wrapper {
        display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    }

    .nav-tabs-horizontal {
        background-color: #fd926d;
    }

    .nav-tabs-horizontal  > li {
        float: none;
    }

    .btn:hover, .btn:focus, .btn.focus {
        color: #555555;
    }
}


























