body {
	margin-top: 1px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* Fonts */

@font-face {
    font-family: "HelveticaNeueLT Std Thin";
    src: url("../fonts/HelveticaNeueLTStdThin.otf")
}

/* Sprite icons */

i[class*="ic-"] {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	background: url("../images/sprite.png") no-repeat;
}

i.ic-user {
	width: 14px;
	height: 14px;
	background-position: 0 0;
}

i.ic-loop {
	width: 15px;
	height: 14px;
	background-position: -14px 0;
}

i.ic-cart {
	width: 27px;
	height: 20px;
	background-position: -29px 0;
}

/* Header top-line */

.h-top-line {
	padding-left: 115px;
	padding-right: 115px;
	font-size: 11px;
	font-family: Arial, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #000000;
}

span.phone {
	display: block;
	padding: 7px 0;
}

.account {
	float: right;
}

.account a {
	padding: 0 15px;
	text-decoration: none;
	color: #ffffff;
}

.lang-list {
	float: left;
	height: 30px;
	padding-top: 7px;
	border-left: 1px solid #444444;
	border-right: 1px solid #444444;
}

.user {
	float: left;
	height: 30px;
	padding-top: 7px;
	border-right: 1px solid #444444;
}

.search {
	float: left;
	height: 30px;
	padding-top: 7px;
	border-right: 1px solid #444444;
}

.account .lang-list .navbar-collapse > ul {
	padding: 0;
	margin: 0;
}

.account .lang-list .navbar-collapse > ul > a {
	padding: 0;
	margin: 0;
}

/* Header top-line @media */

/* @media 640px to 991px */
@media screen and (min-width: 640px) and (max-width: 991px) {
	.h-top-line {
		padding-left: 15px;
		padding-right: 15px;
	}

	.h-top-line .collapse {
		display: block;
	}
}

/* @media 560px to 639px */
@media screen and (max-width: 639px) {
	.h-top-line i[class*="ic-"] {
		background: url("../images/b-sprite.png") no-repeat;
	}

	.h-top-line i.ic-user {
		width: 39px;
		height: 45px;
		background-position: 0 0;
	}

	.h-top-line i.ic-loop {
		width: 39px;
		height: 39px;
		background-position: -39px 0;
	}

	.h-top-line {
		padding-left: 0;
		padding-right: 0;
		font-size: 30px;
		text-align: center;
	}

	.h-top-line .col-xs-6 {
    	width: 100%;
	}

	.h-top-line .collapse {
		display: block;
	}

	.h-top-line .navbar-collapse {
		box-shadow: none;
	}

	span.phone {
		padding: 30px 0;
		background-color: #ffffff;
		text-align: center;
		color: #838383;
	}	

	.lang-list {
		width: 25%;
		height: 95px;
		padding-top: 30px;
	}

	.user {
		width: 50%;
		height: 95px;
		padding-top: 30px;
	}

	.search {
		width: 25%;
		height: 95px;
		padding-top: 30px;
	}

	.account {
		float: none;
	}

}

/* @media 320px to 559px */
@media screen and (max-width: 559px) {
	.h-top-line {
		font-size: 16px;
	}

	span.phone {
		padding: 15px 0;
	}	

	.lang-list {
		width: 25%;
		height: 65px;
		padding-top: 20px;
	}

	.user {
		width: 50%;
		height: 65px;
		padding-top: 15px;
		font-size: 16px;
	}

	.search {
		width: 25%;
		height: 65px;
		padding-top: 20px;
	}

	.account a {
		padding: 0;
	}

}

/*-----------------------------------------------------------------------*/

/* Head bottom-line*/

.bottom-line {
	padding-left: 115px;
	padding-right: 115px;
	font-family: Arial, sans-serif;
	background-color: #ffffff;
}

.bottom-line .logo {
	margin: 42px auto;

}

.bottom-line .logo > img {
	width: 120px;
	height: 22px;
}

.bottom-line .nav-menu {
	margin-top: 42px;
	padding-right: 0;
}

.bottom-line .navbar-default .navbar-nav > li > a {
	padding-top: 0;
	padding-bottom: 0;
    color: #000000;
}

.bottom-line .nav-menu .navbar-default .navbar-nav > li:last-child > a {
    padding-right: 0;
}

.bottom-line .nav-menu .navbar {
	float: right;
	margin-bottom: 0;
	font-size: 16px;
	border: 0;
	background-color: #ffffff;
}

.bottom-line .nav-menu .navbar-brand {
	display: none;
}

.bottom-line .cart .table {
	margin-top: 20px;
	margin-bottom: 0;
}

.bottom-line .cart a {
    padding: 0;
    color: #949393;
}

.bottom-line .cart .navbar-nav {
    width: 100%;
}

.bottom-line .cart .navbar-nav > li {
    width: 100%;
}

.bottom-line .cart-info {
	background-color: #fafafa;
}

.bottom-line .cart .caret {
	float: right;
	margin-top: 7px;
}

.bottom-line span.cart-items {
	float: right;
	text-transform: uppercase;
}

/* Head bottom-line @media */

/* @media 991px to 1199px */
@media screen and (min-width: 991px) and (max-width: 1199px) {
	.bottom-line {
		padding-left: 15px;
		padding-right: 15px;
	}

	.bottom-line .table {
		width: 91%;
	}
}

/* @media 768px to 990px */
@media screen and (min-width: 768px) and (max-width: 990px) {
	.bottom-line {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.bottom-line .table {
		width: 91%;
	}

	.bottom-line .col-md-3 {
		padding: 0;
	}


	.bottom-line .nav-menu .navbar {
		float: left;
	}

	.bottom-line .navbar-default .navbar-nav > li > a {
		padding-right: 10px;
	}

}

/* @media to 767 */
@media screen and (max-width: 767px) {
	.bottom-line {
		padding-left: 15px;
		padding-right: 15px;
	}

	.bottom-line .nav-menu {
        margin-top: 0;
        padding-right: 15px;
	}

	.bottom-line .nav-menu .navbar {
        width: 100%;
        background-color: #fd926d;
	}

	.navbar-nav {
 	   margin: 0;
	}

	.nav-menu .navbar-default .navbar-toggle {
    	border: 0;
	}

	.nav-menu .navbar-default .navbar-toggle .icon-bar {
		height: 4px;
		border-radius: 2px;
    	background-color: #ffffff;
	}

	.bottom-line .cart {
		float: right;
	}

	.bottom-line .nav-menu .navbar-brand {
		display: inline-block;
		font-size: 18px;
		font-family: Arial, sans-serif;
		color: #ffffff;
		text-transform: uppercase;
        margin-top: 4px;
	}

}

/* @media to 640 */
@media screen and (max-width: 640px) {
	.bottom-line i[class*="ic-"] {
		background: url("../images/b-sprite.png") no-repeat;
	}

	.bottom-line i.ic-cart {
		background-position: -77px 0;
   		height: 49px;
   		width: 52px;
	}

	.bottom-line .col-xs-4.cart {
		width: 100%;
		margin-bottom: 23px;
	}

	.bottom-line .cart .table {
		height: 95px;
		margin-top: 0;
		font-size: 30px;
		vertical-align: middle;
	}

	.bottom-line .cart table td {
		vertical-align: middle;
	}

	.bottom-line .cart span.cart-items {
	    padding-right: 10px;
	}


	.bottom-line .col-xs-6.logo {
		width: 100%;
		text-align: center;
	}

	.bottom-line .col-xs-6.logo > img {
		width: 360px;
		height: 90px;
	}

	.bottom-line .cart .your-cart {
		display: none;
	}
}

/* @media to 380 */
@media screen and (max-width: 380px) {
	.bottom-line .col-xs-6.logo > img {
		width: 300px;
		height: 90px;
	}
}

/*-----------------------------------------------------------------------*/

/* Head top-carousel */

.top-carousel {
	margin-top: 10px;
	padding-left: 0;
	padding-right: 0;
}

.top-carousel .radio-row {
    height: 75px;
}

.top-carousel .carousel-indicators {
    margin-bottom: -70px;
}

.top-carousel .carousel-indicators li {
    margin-right: 5px;
    height: 13px;
    width: 13px;
    background-color: #867a76;
}

.top-carousel .carousel-indicators .active {
    margin-right: 5px;
    height: 14px;
    width: 14px;
    background-color: #fd926d;
}

.top-carousel .carousel-control.left {
    background: rgba(0, 0, 0, 0) url("../images/carousel-prev.png") no-repeat scroll left center;
}

.top-carousel .carousel-control.right {
    background: rgba(0, 0, 0, 0) url("../images/carousel-next.png") no-repeat scroll right center;
}

.top-carousel .carousel-inner .layer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65%;
    height: 7px;
    background: url("../images/b-carousel-bottom-line.png") repeat-x bottom;
    opacity: 0.2;
}

.top-carousel .btn {
    position: absolute;
    left: 23%;
    bottom: 20%;
    width: 155px;
    height: 57px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    font-family: "HelveticaNeueLT Std Thin", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    background: #fd926d url("../images/carousel-btn-line.png") repeat-x bottom;
}

.top-carousel .btn > img {
    margin-left: 15px;
    margin-bottom: 3px;
}

.top-carousel .img-responsive, .thumbnail > img,
.top-carousel .thumbnail a > img,
.top-carousel .carousel-inner > .item > img,
.top-carousel .carousel-inner > .item > a > img {
	width: 100%;
}

/* Head top-carousel @media */

/* @media from 993px to 1200px */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .top-carousel .btn {
        left: 22%;
        bottom: 17%;
    }
}

/* @media from 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .top-carousel .btn {
        left: 20%;
        bottom: 12%;
    }
}

/* @media from 640px to 767px */
@media screen and (min-width: 640px) and (max-width: 767px) {
    .top-carousel .radio-row {
        height: 55px;
    }

    .top-carousel .carousel-indicators {
        margin-bottom: -50px;
    }

    .top-carousel .btn {
        left: 22%;
        bottom: 16%;
        width: 110px;
        height: 40px;
        font-size: 11.84px;
    }

    .top-carousel .btn > img {
        margin-left: 5px;
        margin-bottom: 3px;
    }
}

/* @media to 639px */
@media screen and (max-width: 639px) {
    .top-carousel {
        display: none;
    }
}

/*-----------------------------------------------------------------------*/

/* Social */

.social {
    padding-left: 115px;
    padding-right: 115px;
    background-color: #ededed
}

.social .social-hidden {
    display: none;
}

.social .social-wrap {
    float: right;
}

.social .btn {
    padding: 13px;
    border-radius: 0;
    background-image: url("../images/email-btn.png");
}

.social .input-group .form-control {
    height: 28px;
    width: 130px;
    margin: 14px auto;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    font-family: Arial sans-serif;
    font-style: italic;
    color: #b9b9b9;
}

.social label {
    margin-right: 10px;
    font-size: 12px;
    font-family: Arial sans-serif;
    color: #747474;
}

.social .social-find {
    margin-right: 6px;
    font-size: 12px;
    font-family: Arial sans-serif;
    color: #6b6b6b;
}

/* Social @media */

/* @media from 768px to 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .social {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* @media to 767 */
@media screen and (max-width: 767px) {
    .social {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .social .input-group {
        display: -moz-inline-box;
        margin-top: 15px;
    }

    .social label {
        float: left;
        margin-top: 21px;
    }
}

/* @media to 639 */
@media screen and (max-width: 639px) {
    .social {
        margin-top: 25px;
        background-color: #ffffff;
    }

    .social .social-email {
        display: none;
    }

    .social .social-hidden {
        display: block;
    }

    .social .social-hidden .input-group {
        display: block;
        width: 100%;
        margin-bottom: 25px;
    }

    .social .social-hidden .input-group .input-group-btn {
        display: block;
        width: 16%;
    }

    .social .btn {
        background-image: url("../images/big-email-btn.png");
        width: 100%;
        height: 96px;
    }

    .social .social-hidden .input-group input {
        float: left;
        width: 84%;
        height: 96px;
        margin: 0;
    }

    .social .input-group .form-control {
        background-color: #ededed;
        font-size: 30px;
    }

    .social .social-networks {
        width: 100%;
        text-align: center;
    }

    .social .social-networks .social-wrap {
        float: none;
        display: inline-block;
    }

    .social .social-find {
        font-size: 26px;
        margin-right: 32px;
    }

    .social .social-networks img {
        width: 85px;
        height: 85px;
    }
}

/* @media from 320px to 460 */
@media screen and (max-width: 460px) {
    .social-networks .social-wrap span {
        margin-right: 2px;
    }
    .social-networks .social-wrap img {
        width: 45px;
        height: 45px;
    }

    .social .social-hidden .input-group input {
        float: left;
        height: 50px;
        margin: 0;
    }

    .social .btn {
        background: #ededed url("../images/big-email-btn.png") no-repeat right;
        -webkit-background-size: 50px;
        background-size: 50px;
        width: 100%;
        height: 50px;
    }

    .social .input-group .form-control {
        font-size: 26px;
    }
}

/*-----------------------------------------------------------------------*/

/* Brands */

.brands {
    margin-top: 40px;
    padding-left: 115px;
    padding-right: 115px;
}

.brands .row {
    margin: 0;
    padding: 0;
}

.brands [class*="col-"] {
    margin: 0;
    padding: 0;
}

.brands .right-brand img {
    width: 100%;
}

.brands .l-brand img {
    width: 100%;
}

.brands .rt-brand {
    padding-left: 1px;
    padding-bottom: 1px;
}

.brands .rbl-brand {
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

.brands .rbr-brand {
    padding-top: 1px;
    padding-left: 2px;
}

.brands .l-brand {
    padding-right: 2px;
}

.brands button {
    position: absolute;
    left: 30px;
    bottom: 18px;
}

.brands .btn-default {
    border-radius: 0;
    border: 0;
    background-color: #4fafa0;
    font-size: 12px;
    font-family: Helvetica Neue LT Std;
    text-transform: uppercase;
    color: #ffffff;
}

.brands .btn img {
    width: 4px;
    height: 7px;
    margin-left: 8px;
    margin-bottom: 3px;
    vertical-align: middle;
}

/* Brands @media */

/* @media to 1199 */
@media screen and (max-width: 1199px) {
    .brands button {
        left: 9px;
        bottom: 6px;
    }
}

/* @media to 991 */
@media screen and (max-width: 991px) {
    .brands {
        padding-left: 15px;
        padding-right: 15px;
    }

    .brands button {
        width: 70px;
        height: 20px;
        left: 9px;
        bottom: 6px;
    }

    .brands .btn-default {
        font-size: 8px;
    }

}

/* @media to 639 */
@media screen and (max-width: 639px) {
    .brands {
        display: none;
    }
}

/*-----------------------------------------------------------------------*/

/* Body carousel */

.body-carousel {
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
}

.body-carousel .row-carousel ul {
    margin-left: 115px;
    margin-right: 115px;
}

.body-carousel .row-carousel .buttons-control {
    float: right;
}

.body-carousel .row-carousel .buttons-control {
    position: absolute;
    display: block;
    right: 130px;
}

.body-carousel .row-carousel .buttons-control a {
    float: left;
    width: 47px;
    height: 47px;
}

.body-carousel .row-carousel .buttons-control .right-button {
    background: url("../images/b-carousel-next.png") no-repeat right center;
}

.body-carousel .row-carousel .buttons-control .left-button {
    background: url("../images/b-carousel-prev.png") no-repeat left center;
}

.body-carousel .row-carousel .buttons-control .right-button:hover {
    background: url("../images/b-carousel-next-act.png") no-repeat right center;
}

.body-carousel .row-carousel .buttons-control .left-button:hover {
    background: url("../images/b-carousel-prev-act.png") no-repeat right center;
}

.nav > li > a {
    padding: 13px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #fd926d;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #555555;
    text-transform: uppercase;
}

.nav-tabs-dropdown {
    display: none;
    width: 100%;
    height: 87px;
    padding-top: 20px;
    border: none;
    border-radius: 0;
    background-color: #fd926d;
    color: #ffffff;
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
}

.nav-tabs-dropdown:before {
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    right: 30px;
}

.body-carousel .row-carousel .item-box {
    position: relative;
    float: left;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.body-carousel .row-carousel .description {
    margin-bottom: 30px;
    background-color: #f7f7f7;
    font-family: Arial sans-serif;
    color: #373737;
    text-align: center;
    text-transform: uppercase;
}

.body-carousel .row-carousel .title {
    display: block;
    padding-top: 12px;
    font-size: 12px;
}

.body-carousel .row-carousel .price {
    display: block;
    font-size: 22px;
}

.body-carousel .row-carousel .btn {
    margin-bottom: 11px;
    border: 0;
    border-radius: 0;
    background: #fd926d url("../images/carousel-btn-line.png") repeat-x bottom;
    font-size: 12px;
    font-family: Arial sans-serif;
    text-transform: uppercase;
    color: #ffffff;

}

.body-carousel .row-carousel .btn img {
    margin-left: 5px;
    margin-bottom: 3px;
}

.body-carousel .row-carousel .item-box:first-child {
    margin-left: -125px;
}

.body-carousel .row-carousel .item-box:last-child {
    margin-right: -125px;
}

.body-carousel .row-carousel .carousel-inner > .item > img,
.body-carousel .row-carousel .carousel-inner > .item > a > img {
    display: inline-block;
}

.body-carousel .row-carousel .tab-content {
    background-color: #fd926d;
}

.body-carousel .row-carousel .item-box a {
    text-decoration: none;
}

.body-carousel .row-carousel .item-box img.shop {
    position: absolute;
    left: 45px;
    top: 50px;
    visibility: hidden;
}

.body-carousel .row-carousel .item-box a:hover img.shop {
    visibility: visible;
}

.body-carousel .sale {
    position: absolute;
    left: 0;
    top: 0;
}

.body-carousel .row-carousel .item-box a:hover img.product {
    width: 103%;
}

.body-carousel .row-carousel .item-box a:hover .description {
    width: 103%;
}

/*------SLIDE---------*/
.body-carousel .row-carousel .carousel-inner .active.left {
    left: -16.6666%;
}

.body-carousel .row-carousel .carousel-inner .active.right {
    left: 16.6666%;
}

.body-carousel .row-carousel .carousel-inner .next {
    left: 16.6666%;
}

.body-carousel .row-carousel .carousel-inner .prev {
    left: -16.6666%;
}

.body-carousel .row-carousel .carousel-inner .item {
    background: #fd926d;
}

.row-carousel .carousel-inner .more.btn{
    display: none;
    font-size: 20px;
    font-family: "HelveticaNeueLT Std Thin";
    color: #ffffff;
    background: #000000 none;
}

/* Body carousel @Media */

/* @media for display nav */
@media screen and (min-width: 651px) {
    #nav-tabs-wrapper {
        display: block !important;
    }
}

/* @media to 1199px*/
@media screen and (max-width: 1199px) {
    .row-carousel .carousel-inner .item-box.hidden-1200 {
        display: none;
    }

    .body-carousel .row-carousel .item-box:first-child {
        margin-left: 15px;
    }

    .body-carousel .row-carousel .item-box:last-child {
        margin-right: 0;
    }
}

/* @media to 991px*/
@media screen and (max-width: 991px) {
    .row-carousel .carousel-inner .item-box.hidden-992 {
        display: none;
    }

    .body-carousel .row-carousel .item-box:first-child {
        margin-left: 25px;
    }

    .body-carousel .row-carousel .buttons-control {
        right: 15px;
    }
}

/* @media to 767px*/
@media screen and (max-width: 767px) {
    .row-carousel .carousel-inner .item-box.hidden-768 {
        display: none;
    }

    .body-carousel .row-carousel .item-box:first-child {
        float: left;
    }

    .body-carousel .row-carousel .item-box {
        float: right;
        margin-right: 25px;
    }

    .row-carousel .carousel-inner .active.left {
        left: -50%;
    }

    .row-carousel .carousel-inner .active.right {
        left: 50%;
    }

    .row-carousel .carousel-inner .next {
        left: 50%;
    }

    .row-carousel .carousel-inner .prev {
        left: -50%;
    }

    .body-carousel .row-carousel ul {
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* @media to 650px*/
@media screen and (max-width: 650px) {
    .body-carousel {
        margin-top: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav-tabs-dropdown {
        display: block;
    }

    #nav-tabs-wrapper {
        display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    }

    .body-carousel .row-carousel .nav-tabs-dropdown.btn {
        font-size: 30px;
    }

    .nav-tabs-horizontal {
        background-color: #fd926d;
    }

    .nav-tabs-horizontal  > li {
        float: none;
    }

    .btn:hover, .btn:focus, .btn.focus {
        color: #555555;
    }

    .body-carousel .row-carousel .buttons-control {
        display: none;
    }

    .row-carousel .carousel-inner .more.btn {
        display: inline;
        margin-left: 36%;
    }

}

/* @media to 555px*/
@media screen and (max-width: 555px) {
    .row-carousel .carousel-inner .item-box.hidden-555 {
        display: none;
    }

    .body-carousel .row-carousel .item-box:first-child {
        margin-left: 55px;
    }

    .row-carousel .carousel-inner .more.btn {
        margin-left: 18%;
    }
}

/* @media to 320px*/
@media screen and (max-width: 320px) {
    .body-carousel .row-carousel .item-box:first-child {
        margin-left: 35px;
    }

    .row-carousel .carousel-inner .more.btn {
        margin-left: 25%;
    }
}
/*-----------------------------------------------------------------------*/

/* Clearance */

.container.clearance {
    margin-top: 23px;
    padding-left: 115px;
    padding-right: 115px;
    text-align: center;
}

.container.clearance .col-md-3 {
    padding: 15px;
}

.clearance span.left {
    background: rgb(208, 208, 208) none repeat scroll 0 0;
    bottom: 75px;
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 40%;
}

.clearance span.right {
    background: rgb(208, 208, 208) none repeat scroll 0 0;
    bottom: 75px;
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    width: 40%;
}

.clearance img.clearance-label {
    display: inline;
}

.clearance .items {
    margin-top: 25px;
}

.clearance img {
    max-width: 100%;
}

.clearance .description img.visible-640 {
    display: none;
}

.clearance .description {
    background-color: #f7f7f7;
    font-family: Arial sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #373737;
}

.clearance .description span.title {
    display: block;
    margin-top: 11px;
    font-size: 12px;
}

.clearance .description span.size {
    display: block;
    font-size: 22px;
}

.clearance .btn {
    margin-bottom: 11px;
    border: 0;
    border-radius: 0;
    background: #fd926d url("../images/carousel-btn-line.png") repeat-x bottom;
    font-size: 12px;
    font-family: Arial sans-serif;
    text-transform: uppercase;
    color: #ffffff;

}

.clearance .btn img {
    margin-left: 5px;
    margin-bottom: 3px;
}

.clearance .row .col-more {
    margin: 30px 0 20px 37%;
}

.clearance .more.btn {
    display: none;
    font-size: 20px;
    font-family: "HelveticaNeueLT Std Thin";
    color: #ffffff;
    background: #000000 none;
}

/* Clearance @media */

/* @media to 1199px */
@media screen and (max-width: 1199px) {
    .clearance span.left,
    .clearance span.right {
        width: 38%;
    }
}

/* @media to 991px */
@media screen and (max-width: 991px) {
    .container.clearance {
        padding-left: 15px;
        padding-right: 15px;
    }

    .clearance span.left,
    .clearance span.right {
        width: 36%;
    }
}

/* @media to 767px */
@media screen and (max-width: 767px) {
    .clearance .items .hidden-768 {
        display: none;
    }
    .clearance .items .col-xs-3 {
        width: 33.3333%;
    }

    .clearance span.left,
    .clearance span.right {
        width: 33%;
    }

}

/* @media to 639px */
@media screen and (max-width: 639px) {
    .clearance .items .hidden-640 {
        display: none;
    }
    .clearance .items .col-xs-3 {
        width: 50%;
    }

    .clearance .description img.visible-640 {
        display: block;
    }

    .clearance .more.btn{
        display: inline-block;
    }

    .clearance span.left,
    .clearance span.right {
        width: 30%;
    }
}

@media screen and (max-width: 460px) {
    .clearance span.left,
    .clearance span.right {
        width: 23%;
    }
}

/*-----------------------------------------------------------------------*/

/* Favourite brands */

.favourite {
    margin-top: 60px;
	padding-left: 15px;
	padding-right: 15px;
    text-align: center;
}

.favourite .col-xs-12.brands {
	margin-top: 15px;
	padding-left: 115px;
	padding-right: 115px;
}

.favourite span.left {
    background: rgb(208, 208, 208) none repeat scroll 0 0;
    bottom: 10px;
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 42%;
}

.favourite span.right {
    background: rgb(208, 208, 208) none repeat scroll 0 0;
    bottom: 10px;
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    width: 42%;
}

.favourite span.full {
    background: rgb(208, 208, 208) none repeat scroll 0 0;
    bottom: -10px;
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    width: 100%;
}

.favourite hr {
    background: rgb(208, 208, 208) none repeat scroll 0 0;
    height: 1px;
}

.favourite span {
	font-size: 15px;
	font-family: Arial sans-serif;
	color: #414141;
	text-transform: uppercase;
}

.favourite a {
	margin-right: 20px;
    margin-left: 20px;
}

.favourite a:first-child {
    margin-left: 0;
}

.favourite a:last-child {
    margin-right: 0;
}

/* Favourite brands @media */

/* @media to 1199px */
@media screen and (max-width: 1199px) {
    .favourite .col-xs-12.brands {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* @media to 991px */
@media screen and (max-width: 991px) {
    .favourite a.hidden-768 {
        display: none;
        margin: 0;
    }

    .favourite .brands a {
        margin-right: 23px;
        margin-left: 23px;
    }

    .favourite span.left,
    .favourite span.right {
        width: 39%;
    }
}

/* @media to 767px */
@media screen and (max-width: 767px) {
    .favourite img.hidden-768 {
        display: none;
    }

    .favourite .brands a:first-child {
        margin-left: 0;
    }

    .favourite .brands a {
        margin-right: 14px;
        margin-left: 14px;
    }

    .favourite span.left,
    .favourite span.right {
        width: 37%;
    }
}

/* @media to 639px */
@media screen and (max-width: 639px) {
    .favourite {
        display: none;
    }
}

/*-----------------------------------------------------------------------*/


/* Footer */

/* About */

.container.about {
    margin-top: 30px;
}

.container.about .col-xs-12 {
    padding-left: 115px;
    padding-right: 115px;
}

.container.about span {
    display: table;
    margin: 0 auto;
    font-size: 24px;
    font-family: Arial sans-serif;
    color: #414141;
}

.container.about p {
    text-align: center;
    color: #999999;
}

/* About @media */

@media screen and (max-width: 991px) {
    .container.about .col-xs-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* @media to 639px */
@media screen and (max-width: 639px) {
    .container.about {
        display: none;
    }
}

/*-----------------------------------------------------------------------*/

/* Accept */

.accept {
    margin-top: 25px;
    text-align: center;
    background-color: #f7f7f7;
}

.accept .col-xs-12 {
    margin: 19px 0 17px 0;
}

.accept a {
    margin-left: 5px;
    margin-right: 5px;
}

.accept span {
    margin-top: 3px;
    margin-right: 10px;
    font-size: 12px;
    font-family: Arial sans-serif;
    color: #414141;
}

/* Accept @media */

/* @media to 767px */
@media screen and (max-width: 767px) {
    .accept a {
        margin-right: 4px;
    }
}

/* @media to 639px */
@media screen and (max-width: 639px) {
    .accept {
        display: none;
    }
}

/*-----------------------------------------------------------------------*/

/* f-menu */

.f-menu {
    padding-left: 115px;
    padding-right: 115px;
    background-color: #ededed;
}

.f-menu ul {
    padding: 0;
}

.f-menu li {
    list-style: none;
}

.f-menu a {
    font-size: 12px;
    font-family: Arial sans-serif;
    color: #544f4d;
    text-decoration: none;
}

.f-menu span {
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    font-family: Arial sans-serif;
    color: #3b3634;
}

.f-menu .service {
    padding-left: 0;
}

.f-menu .information {
    padding-left: 30px;
}

.f-menu .campaigns {
    padding-left: 27px;
}

.f-menu .stores {
    padding-left: 45px;
}

.f-menu .social {
    padding-left: 25px;
    padding-right: 0;
}

.f-menu .social a {
    float: left;
    margin: 9px 9px 0 0;
}

.f-menu .wrapper {
    max-width: 145px;
}

.f-menu .secured {
    float: right;
}

.f-menu .secured img {
    float: right;
    margin-top: 40px;
    margin-left: 35px;
}

/* f-menu @media */

/* @media to 1199px */
@media screen and (max-width: 1199px) {
    .f-menu {
        padding-left: 15px;
        padding-right: 15px;
    }

    .f-menu .service {
        width: 21%;
        padding-left: 10px;
    }

    .f-menu .secured img {
        margin-left: 0;
    }

    .f-menu .service {
        padding-left: 5px;
    }

    .f-menu .information {
        padding-left: 5px;
    }

    .f-menu .campaigns {
        padding-left: 5px;
    }

    .f-menu .stores {
        padding-left: 5px;
    }

    .f-menu .social {
        padding-left: 5px;
        padding-right: 0;
    }

}

/* @media to 991px */
@media screen and (max-width: 991px) {
    .f-menu .service {
        padding: 0;
    }

    .f-menu .social {
        padding-left: 5px;
        padding-right: 0;
    }

    .f-menu .campaigns {
        padding: 0;
    }

    .f-menu .stores {
        padding: 0;
    }

    .f-menu .social a {
        float: left;
        margin: 9px 4px 0 0;
    }

}

@media screen and (max-width: 767px) {
    .f-menu .social a {
        float: left;
        margin: 9px 10px 0 0;
    }
}

/* @media to 639px */
@media screen and (max-width: 639px) {
    .f-menu {
        display: none;
    }
}

/*-----------------------------------------------------------------------*/

/* f-bottom */

.f-bottom {
    height: 70px;
    padding-left: 115px;
    padding-right: 115px;
    font-size: 11px;
    font-family: Arial, sans-serif;
	background-color: #000;
    color: #8d8d8d;
}

.f-bottom .col-xs-10 {
    padding-left: 0;
}

.f-bottom .navbar-default {
    margin-top: 15px;
    margin-bottom: 0;
    background-color: #000;
    border: 0;
}

.f-bottom .navbar-collapse {
    padding-left: 0;
}

.f-bottom .navbar-default li a {
    font-size: 11px;
    font-family: Arial, sans-serif;
    color: #8d8d8d;
}

.f-bottom .navbar-default li a:first-child {
    padding-left: 0;
}

.f-bottom .navbar-default li a:after {
    padding-left: 10px;
    content: "|";
}

.f-bottom .col-xs-2 {
    margin-top: 20px;
}

.f-bottom .col-xs-2 span.brand,
.f-bottom .col-xs-2 span.rights {
    clear: both;
    float: right;
}

/* f-bottom @media */

/* @media to 1199px */
@media screen and (max-width: 1199px) {
    .f-bottom {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* @media to 991px */
@media screen and (max-width: 991px) {
    .f-bottom .navbar-default li a:first-child {
        padding-left: 10px;
    }

}

/* @media to 767px */
@media screen and (max-width: 767px) {
    .f-bottom .col-xs-2 {
        padding-left: 0;
    }

    .f-bottom .navbar-toggle {
       float: left;
       padding: 5px 10px;
       border: 0;
    }

    .f-bottom .navbar-default li a:after {
        content: "";
    }
}

/* @media to 639px */
@media screen and (max-width: 639px) {
    .f-bottom {
        height: 100px;
        background-color: #000;
    }

    .f-bottom .col-xs-2 span.brand,
    .f-bottom .col-xs-2 span.rights {
        font-size: 24px;
    }

    .f-bottom .navbar-toggle .icon-bar {
        border-radius: 3px;
        height: 7px;
        width: 30px;
    }

    .f-bottom .col-xs-10 {
        width: 50%;
    }

    .f-bottom .col-xs-2 {
        width: 50%;
    }

    .f-bottom .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

    .f-bottom .navbar-toggle {
        padding: 15px 20px;
    }
}
/*-----------------------------------------------------------------------*/